<div class="main-view">
  <div>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{ movieObservable.name }}</h5>
        <small> <b>Year</b> : {{ movieObservable.year }}</small>
      </div>
      <p class="mb-1">{{ movieObservable.summary }}</p>
      <div>
      <small><b> Main Cast</b> : {{ movieObservable.starring }}</small>
    </div>
    <div>
      <small><b> Genre</b> : {{ movieObservable.category }}</small>
    </div>
    <div>
      <small><b> Rating</b> : {{ movieObservable.rating }} star</small>
    </div>
    </a>
  </div>
</div>