<div class="list-group"> 
    <table class="table table-hover">
        <tr *ngFor="let mov of movieList1 | orderBy:order">
           <a (click)="displayMovie(mov)" routerLink="../detail" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{ mov.name }}</h5>
                <small> {{ mov.year }}</small>
              </div>
              <p class="mb-1">{{ mov.summary }}</p>
              <small> {{ mov.category }}</small>
              <div class="form-group row" style="float: right">
                <div class="col-md-5">
                    <button class="btn btn-sm" style="float: right" disabled><i class="fas fa-star"></i> {{mov.rating}} </button>
                </div>
              </div>
            </a>
        </tr>
      </table>  
 </div>